/* Fonts */
.bungee-regular {
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.varela-round-regular {
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-style: normal;
}


/* Text Styles */
h1 {
    font-family: "Bungee", sans-serif;
    font-size: 100px;
    color: rgb(222, 232, 241);
    text-align: left;
    margin-top: 0px;
    margin-bottom: -10px;
    margin-left: 10px;
}

h2 {
    font-size: 20px;
    color: rgb(222, 232, 241);
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 15px;
    margin-top:-25px;
}

h3 {
    margin-left: 30%;
    margin-top: -20px;
    color: rgb(222, 232, 241);
    font-family:"Varela Round", sans-serif;
    font-size: 25px;

}

h4 {
  border: 3px solid rgb(222, 232, 241);
  padding: 2px;
  color: rgb(222, 232, 241);
  font-family:"Varela Round", sans-serif;
  text-align: center;
  font-size: 14px;
  display:none;
}

p {
    width: 900px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(222, 232, 241);
    margin-left:10px;
    border-top: 3px solid rgb(222, 232, 241);
    padding-top:15px;
  }
/* The container for our images and buttons */

#container {
  border-left: 3px solid rgb(222, 232, 241);
  padding: 10px 10px 10px 0px;
  margin: 0px 10px; 
  display: flex;
  align-items: flex-start;
  gap: 10px;   
  justify-content: flex-start;
  position: relative;
}

/* Buttons and Heading */
span {
    font-family: "Varela Round", sans-serif;
    color: rgb(222, 232, 241);
    margin-left: 1%;
    display: inline-block;
    font-size: 20px;
  }

#buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;  
  margin: 10px;
}

#startBtn {
  margin-top: 10px;
}
/* Overall button style */

button {
  width: 100%;
  padding: 5px;
  margin: 0px;
  font-family: "Varela Round", sans-serif; 
  display: block;
  font-size: 15px;
}  
/* Canvas */
#canvas {
  width: 852px;
  float: right;
  position: absolute;
  margin-left: 150px;
  height: 503px;
}
/* Our Planet Landscapes */

#mercury {
  display: none;
  width: 70%;
  position: absolute;
  margin-left: 150px;
}
#venus {
  display: none;
  width: 70%;
  position: absolute;
  margin-left: 150px;
}
#earth {
  display: none;
  width: 70%;
  position: absolute;
  margin-left: 150px;
}

/* Our Objects */

#brick {
  display: none;
  width: 10%;
  position: absolute;
  margin-left: 515px;

}

/* This sets our black background colour */

body {
    background-color: rgb(0, 0, 0);
}
