.bungee-regular {
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.varela-round-regular {
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-style: normal;
}


h1 {
    font-family: "Bungee", sans-serif;
    font-size: 100px;
    color: rgb(222, 232, 241);
    text-align: left;
    margin-top: 0px;
    margin-bottom: -10px;
    margin-left: 10px;
}

h2 {
    font-size: 20px;
    color: rgb(222, 232, 241);
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 15px;
    margin-top:-25px;
}

h3 {
    margin-left: 30%;
    margin-top: -20px;
    color: rgb(222, 232, 241);
    font-family:"Varela Round", sans-serif;
    font-size: 25px;

}

p {
    width: 900px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(222, 232, 241);
    margin-left:10px;
    border-top: 3px solid rgb(222, 232, 241);
    padding-top:15px;
  }
div {
  border: 3px solid rgb(222, 232, 241);
  padding: 10px 10px 10px 0px;
  margin: 0px 10px; 

}

span {
    font-family: "Varela Round", sans-serif;
    color: rgb(222, 232, 241);
    margin-left: 10px;
    display: inline-block;
    font-size: 20px;
  }

button {
  width: 8%;
  padding: 5px;
  margin-top: 10px;
  margin-left: 10px;
  font-family: "Varela Round", sans-serif; 
  display: block;
  font-size: 15px;
}  

#mercury {
  display: none;
  margin-left: 10%;
  width: 80%;
}
#venus {
  display: none;
  margin-left: 10%;
  width: 80%;
}
#earth {
  display: none;
  margin-left: 10%;
  width: 80%;
}
body {
    background-color: rgb(10, 10, 10);
}
